
.yetislider {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0;
	scroll: none;
}

.yeti-wrapper{
	width: 100%;
}

.yeti-controls {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
}

.yetislider img {
	float: left;
}

.yeti-controlBtn {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	padding:0;
	margin:0;
	background-size:50px 50px;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 202;
}
.yeti-controlBtn:after {
	content: '';
	width: 50px;
	height: 50px;
}

/*.yeti-controlBtn:hover {
	opacity: 1;
}*/

#prevBtn {
	background: url('https://cdn1.iconfinder.com/data/icons/black-logistics-icons/256/Rounded_shift_left_arrow.png') center center no-repeat;
	background-size:50px 50px;
	left: 5px;
}

#nextBtn {
	background: url('https://cdn1.iconfinder.com/data/icons/black-logistics-icons/256/Rounded_shift_right_arrow.png') center center no-repeat;
	background-size:50px 50px;
	right: 5px;
}